<!DOCTYPE html>
<html lang="en">
<head>
    <title>Gallery</title>
    <meta charset="UTF-8"> 
    
    <link rel="stylesheet" type="text/css" href="css/gallery.css">
    
    <link rel="stylesheet" type="text/css" href="css/team.css">
<meta name="viewport" content="width=device-width, initial-scale=1"> 
    
</head>
<body>

    <div class="navbar">

        <a href="../index.html" class="active">Home</a>
        <a href="About.html">About</a>
        <a href="team.html">Team</a>
        <a href="gallery.html">Gallery</a>
        <a href="#">Contact Us</a>
        <a href="#" class="right">Login/Sign up</a>
      
      </div>

<h2>Responsive Image Gallery</h2>

<h4>Resize the browser window to see the effect.</h4>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="../model/one.jpg">
      <img src="../model/one.jpg" alt="Cinque Terre" width="600" height="400">
    </a>
    <div class="desc">Selfie with boss</div>
  </div>
</div>


<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="../model/two.jpg">
      <img src="../model/two.jpg" alt="Forest" width="600" height="400">
    </a>
    <div class="desc">Our Office</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="../model/three.jpg">
      <img src="../model/three.jpg" alt="Northern Lights" width="600" height="400">
    </a>
    <div class="desc">Update our Cover photo in 2021</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="../model/four.jpg">
      <img src="../model/four.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc">Congratulations to new members who have joined our team.</div>
  </div>
</div>

<div class="clearfix"></div>

<div style="padding:6px;">
  <p>This example use media queries to re-arrange the images on different screen sizes: for screens larger than 700px wide, it will show four images side by side, for screens smaller than 700px, it will show two images side by side. For screens smaller than 500px, the images will stack vertically (100%).</p>
  <p>You will learn more about media queries and responsive web design later in our CSS Tutorial.</p>
</div>

</body>
</html>


