<!DOCTYPE html>
<html lang="en">
<head>
<title>About</title>
<meta charset="UTF-8"> 

<link rel="stylesheet" type="text/css" href="css/team.css">

</head>
<body >
 

<div class="navbar">

  <a href="../index.html" class="active">Home</a>
  <a href="About.html">About</a>
  <a href="team.html">Team</a>
  <a href="gallery.html">Gallery</a>
  <a href="#">Contact Us</a>
  <a href="#" class="right">Login/Sign up</a>

</div>


<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="../model/deb.jpg" alt="Jane" style="width:100%">
      <div class="container">
        <h2>DEBORAJ ROY</h2>
        <p class="title">CEO & Founder</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>deboraj@mail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../model/deb.jpg" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Uddipta Kumar Roy</h2>
        <p class="title">Art Director</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>uddipta@mail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="../model/deb.jpg" alt="John" style="width:100%">
      <div class="container">
        <h2>Sujaur Rahman Pavel</h2>
        <p class="title">Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>sujaur@mail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>



 <br><br>
 <footer>
    
<div w3-include-html="include/footer.html"></div> 
    <!-- <?php include('include/footer.html') ?>

    <script>
        includeHTML(include/footer.html);
        </script> -->
        <p>Author: Deboraj Roy<br>
           Mail:<a href="mailto:deboraj@mail.com">deboraj@mail.com</a></p>
            <h5><pre>You can contact with me (01700000000) | Current date in server <?php echo date('d-m-Y');  ?></pre></h5>
 </footer>

</body>
</html