 
  /* Style the header 
  header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }
   
  .navbar {
    float: left;
    width: 30%;
    height: 300px; /* only for demonstration, should be removed * 
    background: #ccc;
    padding: 20px;
  }  
  
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }

  .column {

    float: left;
    width: 33.33%;
    padding: 10px;
    height: auto;

  }

  .row::after {
 content: "";
 display: table;
 clear: both;

  }

  @media screen and(max-width: 600px){
    .column{
        width: 100%;
    }
  }
  
   
  .navbar a.right {
    float: right;
  }
  aside { 
    float: right;
    width: 30%;
    height: 300px;
    background: #ccc;
    padding: 20px;
  }
    aside {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: lightgray;
  } */
  
  /* article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;
    height: 300px; 
  }
   
  section::after {
    content: "";
    display: table;
    text-align: center;
    clear: both;
  }
   
  footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
  }
  
   @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }  
  } 
  
   */
  
  
   * {
    box-sizing: border-box;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }